body{
    background-color: bisque;
}

header{
    margin: 20px 20px;
    padding: 50px 50px;
    text-align: center;
    border: 2.5px solid antiquewhite;
    background-color: antiquewhite;
}

#title{
    border-radius: 50%;
    background-color: aliceblue;
    width: 250px;
    height: 100px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    border: 2px solid black;
}

.meun{
    background-color: antiquewhite;
    position: absolute;
    bottom:10px;
    border: 1px solid black;
    border-radius: 2.5%;
    margin: 20px;
    padding: 20px 20px;
    text-align: center;
}

.meun li{
    background-color: aliceblue;
    list-style: none;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px;
    width: 100px;
    text-align: center;
}

.content{
    border: 2.5px solid black;
    margin: 20px 20px;   
}

.catdata{
    border: 2px solid black;
}