body{
    background-color: rgb(233, 191, 191);
}

section + section{
    background-color: rgb(185, 255, 255);
}

#top{
    border: 1px solid white;
}
#contents > section + section{
    text-align: center;
    border: 1px solid black;
    width: 100px;
    margin: 40px auto;
    background-color: beige;
}

h1,h2{
    text-align: center;
}

#head1{
    border: 1px solid black;
    border-top: 10px solid black;
    padding: 30px;
    margin: 40px auto;
    width: 300px;
    background-color: blanchedalmond;
}

a:hover{
    color: #e4af72;
    text-decoration: none;
}

a::after{
    content: url(./1.png);
    margin-left: 3px;
    vertical-align: middle; 
} 

a[href^="https://github.com/"]::after{
    content: url(./blank.png);
    margin-left: 3px;
    vertical-align: middle; 
}

a[href^="mailto"]::after {
    content: url(./email.png);
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
}
